/* @import url("https://fonts.googleapis.com/css2?family=Manrope&family=Open+Sans&display=swap");

nav {
  width: 1200px;
  height: 42px;
  display: flex;
  justify-content: space-between;
  margin: 56px 100px;
  position: absolute;
  z-index: 99;
}

img {
  height: 42px;
  width: 162px;
  cursor: pointer;
}

.navigation {
  height: 40px;
  width: 419px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #0a2640;
  cursor: pointer;
}

.login {
  height: 40px;
  width: 128px;
  border-radius: 24px;
  padding: 4px 40px;
  border: 2px solid #0a2640;
}
section {
  width: 80vw;
  height: 801px;
  padding: 0 100px;
  background: #ffffff;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.divider {
  position: absolute;
  width: 1293px;
  height: 1293px;
  overflow-x: hidden;
}

.circle {
  border-radius: 50%;
  background: #f1f1f1;
  width: 100%;
  height: 100%;
  position: relative;
  right: -777px;
  top: -789px;
}

.ema {
  position: absolute;
}

.heroContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 97px;
  width: 1200px;
  height: 423px;
  margin-top: 154px;
  position: absolute;
  z-index: 99;
}

.contentContainerHeader {
  width: 601px;
  height: 370.5px;
  display: flex;
  flex-direction: column;
  padding-top: 41px;
}

.contentContainerHeader span {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  color: #000000;
}

.contentContainerHeader p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #777777;
  width: 601px;
}

.heroButtonContainer {
  display: flex;
  margin-top: 35px;
  gap: 20px;
}

.heroBtn {
  width: 230px;
  height: 60px;
  background: #0a2640;
  border: 2px solid #0a2640;
  border-radius: 56px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  cursor: pointer;
}

.heroBtn2 {
  width: 187px;
  height: 60px;
  background: #ffffff;
  border: 2px solid #0a2640;
  border-radius: 56px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #0a2640;
  cursor: pointer;
}

.heroChartConatiner {
  width: 494px;
  height: 423px;
}

.heroChartConatiner img {
  width: 494px;
  height: 423px;
}

.sponsLogo {
  position: absolute;
  width: 1119px;
  height: 48.83px;
  margin: 677px 140px 76px 141px;
  display: flex;
  align-items: center;
  gap: 57px;
  overflow: hidden;
}

.Logo {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 56px;
}

.Logo img {
  width: 145px;
  height: 42px;
} */

.section {
  width: 100vw;
  background: #ffffff;
  display: flex;
  position: relative;
  justify-content: center;
}

.container {
  padding: 50px;
}

.divider {
  position: absolute;
  width: 1393px;
  height: 1293px;
  overflow-x: hidden;
  z-index: 2;
}

.circle {
  border-radius: 50%;
  background: #f1f1f1;
  width: 100%;
  height: 100%;
  position: relative;
  right: -777px;
  top: -789px;
}

.contentContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 97px;
  width: 1200px;
  height: 423px;
  margin-top: 50px;
  position: relative;
  z-index: 3;
}

.contentContainerHeader {
  width: 601px;
  height: 370.5px;
  display: flex;
  flex-direction: column;
  padding-top: 41px;
}

.contentContainerHeader span {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  color: #000000;
}

.contentContainerHeader p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #777777;
  width: 601px;
}

.contentContainerButton {
  width: 230px;
  height: 60px;
  font-size: 20px;
}

.contentContainerButton:last-child {
  width: 187px;
}

.contentContainerButtons {
  display: flex;
  margin-top: 35px;
  gap: 20px;
}
.contentContainerSponsors {
  margin-top: 100px;
}
