.customer {
  width: 100vw;
  height: 100%;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0;
  gap: 40px;
}

.container {
  width: 1147px;
  height: 610px;
  margin: 120px 101px 0 112px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.customerImageContainer {
  position: relative;
}

.customerImageContainer:last-child {
  position: relative;
  margin-right: 25px;
}

.customerImage {
  height: 506px;
  width: 494px;
  border-radius: 24px;
}

.customerchartContainer1,
.customerchartContainer2 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: #ffffff;
  height: 388px;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
}

.customerchartContainer1 {
  left: 38%;
  top: 43.5%;
  width: 251px;
}
.customerchartContainer2 {
  left: 16%;
  top: 58%;
  width: 281px;
}

.chartFlow1 {
  height: 227px;
  width: 170px;
}
.chartFlow2 {
  width: 179.42px;
  height: 292.42px;
  margin: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chart1 {
  width: 171px;
  height: 308px;
  margin: 40px;
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.chart2 {
  width: 227px;
  height: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chartGroup1 {
  width: 150.73px;
  height: 61.8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.chartGroup2 {
  width: 179.2px;
  height: 95.16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.chartFlow1 img {
  width: 100%;
  height: 100%;
}

.chartValue {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #0a2640;
}

.chartText {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #0a2640;
}

.customerDescription {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 493px;
  height: 479px;
  margin-top: 62px;
}

.content1,
.content2 {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 56px;
  color: #000000;
}
.content2 {
  margin-top: 55px;
  margin-bottom: 30px;
}

.customerDescriptionList1,
.customerDescriptionList2 {
  margin-top: 20px;
  width: 500px;
  height: 252px;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
}

.customerDescriptionList2 {
  gap: 20px;
}

.customerDescriptionList1 span {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #000000;
}
.customerDescriptionList2 span {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
}
.actionBtn {
  height: 60px;
  font-size: 19px;
  width: 210px;
  height: 60px;
}

.checkText {
  display: flex;
  gap: 27px;
  align-items: center;
  width: 500px;
  height: 68px;
}

.customerDescriptionListItem {
  display: flex;
  gap: 27px;
  align-items: center;
  padding-left: 20px;
  width: 500px;
  height: 68px;
  background: #ffffff;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  color: #000000;
  cursor: pointer;
}

.customerDescriptionListItem:hover {
  background: #0a2640;
  color: #ffffff;
}

.customerDescriptionListItemBox {
  width: 427px;
  height: 36px;
  display: flex;
  gap: 16px;
  padding-top: 10px;
}
.customerDescriptionList:last-child span {
  font-family: "Open Sans", sans-serif;
}
.customerDescriptionListItemBox span:first-child {
  margin-top: 3px;
}
.customerDescriptionListItem:hover .customerDescriptionListItemBox span {
  background: #0a2640;
  color: #ffffff;
}

.check {
  width: 36px;
  height: 36px;
}

.color {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: #0dbbfc;
  margin-bottom: 5px;
}
.color2 {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background: #69e6a6;
  margin-bottom: 5px;
}
.color3 {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  margin-bottom: 5px;
  background: #c4c4c4;
}

.percent {
  color: #000000;
  height: 24px;
  width: 175.44091796875px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.percent span {
  height: 24px;
  width: 162.5189208984375px;
  font-weight: 400;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
}
