.Blog {
  width: 100vw;
  height: 100%;
  background: #ffffff;
  padding: 0;
  display: flex;
  justify-content: center;
  position: relative;
}

.blogWrapper {
  display: flex;
  flex-direction: column;
}

.BlogHeader {
  width: 842px;
  height: 184px;
  margin: 79px 279px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 12px;
}

.blogTitle {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #777777;
}

.blogSubtitle {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

.blogGrid {
  width: 1000px;
  height: 424px;
  margin: 7px 201px 84px 210px;
  display: flex;
  justify-content: space-between;
}

.blogCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
  width: 300px;
  height: 424px;
}

.imageWrapper {
  width: 300px;
  height: 209px;
  border-radius: 12px;
}

.desc {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #000000;
  width: 300px;
  height: 99px;
}

.explore {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 300px;
  height: 32px;
}

.explore img {
  width: 32px;
  height: 32px;
}

.explore span {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #000000;
}

.category {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #0a2640;
  display: flex;
  gap: 12px;
}

.category span {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #777777;
}

.loadMoreButton {
  width: 219px;
  height: 60px;
  margin: 0 auto 124px auto;
  font-size: 20px;
}
